<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="https://google.com">google</a></h1>
            <p>これはgoogleです。</p>
        </div>

        <div>
            <p>published: 12.05.22, 14:02</p>
            <h2><a href="https://yahoo.co.jp">yahoo</a></h2>
            <p>これはyahooです。 </p>
        </div>

        <div>
            <p>公開日: 2022/05/12, 14:02</p>
            <h2><a href="ckd.co.jp">CKD</a></h2>
            <p> これはCKDのホームページです。 </p>
        </div>
    </body>
</html>
